<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\roslynator.config" />
  <Include Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudioCode\roslynator.config" />
  <Settings>
    <RuleSets>
      <RuleSet Path="%LOCALAPPDATA%\JosefPihrt\Roslynator\VisualStudioCode\roslynator.ruleset" />
    </RuleSets>
  </Settings>
</Roslynator>